@charset "utf-8";

//------------------------------------------------------------
// mixin
//------------------------------------------------------------

@mixin clearfix {
  zoom: 1;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin centering($width) {
  width: $width;
  margin: 0 auto;
}

@mixin border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}