<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sample Gulp Project</title>

  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/_lib/normalize.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- JavaScript -->
  <script src="/js/common.js"></script>
  
</head>
<body>

  <% include _partial/_header %>
  <p>Contents</p>

</body>
</html>